@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-[#757F9A] to-[#D7DDE8] text-gray-800
}

main {
  @apply h-screen
}

section > a {
  background-image: linear-gradient(
    to right,
    #031820,
    #254450 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
section > a:before{
  content: '';
  background: #335866;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

section > a:hover {
 background-position: 0;
}

section > a:hover::before{
  width: 100%;
}

.under {
  position: relative;
  color: #000;
  text-decoration: none;
}

.under:hover {
  color: #000;
}

.under::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.under:hover::before {
  transform: scaleX(1);
}

.header {
  @apply border-b-2 border-b-slate-800 p-2 m-1 text-center md:text-xl flex items-center justify-between
}